<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <header style="background-color: blueviolet; text-align: center;">
        <h1>Hello world</h1>
        <p>Wellcome to Thymeleaf</p>
    </header>
    <button type="button" onclick="myFunction()">Try it</button>

    <p id="demo">(myFunction is stored in an external file called "myScript.js")</p>

    <h1 th:text="${test}"></h1>
</body>
</html>