<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="main-content">
    <form th:action="@{/login}" method="POST">
        <input type="text" name="username" placeholder="Your account" /><br />
        <input type="password" name="password" placeholder="Your password" /><br />
        <label><input type="checkbox" name="remember-me"> Remember Me</label>
        <button type="submit">Login</button> <br />
    </form>
</div>
</body>
</html>